<div class="form-horizontal">
    <h2>New Project for {{project.committer}}</h2>
	<div class="form-group">
        <label class="col-sm-2 control-label">Project Name: </label>
        <div class="col-sm-10">
            <input id="test-name" class="form-control" [(ngModel)]="project.name" placeholder="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Documentation: </label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="project.documentation" placeholder="documentation" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subscription: </label>
        <div class="col-sm-10">
            <input class="form-control" type="radio" [(ngModel)]="project.subscription"  name="subscription" value="public">public<br>
        	<input class="form-control" type="radio" [(ngModel)]="project.subscription"  name="subscription]" value="private">private
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button (click)="save()" class="btn btn-primary">Create</button>
            <button id="trigger" (click)="updateCommitter()" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>
<h2>Your Projects</h2>
<div class="row">
    <div *ngFor="let project2 of projects" (click)="gotoScreen(project2)" class="col-md-3">
        <div *ngIf="project2.normalized_name!='master'" class="module project">
            <h4>{{project2.name}}</h4>
            <div>{{project2.documentation}}</div>
        </div>
    </div>
</div>
